
/* Jogo desenvolvido: */
/* Copyright 2019 - Danilson Veloso de Sousa. */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background: #272727;
    display: flex;
    flex-direction: column;
}

.game-container {
    width: 300px;
    margin: auto;
}

@media screen and (max-width: 400px){
    .game-container {
        width: 100%;
        padding: 10px;
    }
}

.painel {
    width: 100%;
    padding: 10px;
    display: flex;
    columns: 2;
    background: #ffffff;
}

.player {
    padding: 5px;
    flex: 1;
    text-align: center;
    color: #2c2430;
    font-size: 1.6em;
}

.player .name {
    font-size: 0.455em;
}

.game {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #000000;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);
}

.item {
    width: calc(100% / 3);
    height: calc(100% / 3);
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    color: #fff;
}

.item-1,.item-2,.item-3,
.item-4,.item-5,.item-6 {
    border-bottom: 3px solid #ffffff;
}

.item-1,.item-2,
.item-4,.item-5,
.item-7,.item-8 {
    border-right: 3px solid #ffffff;
}

.player.on {
    background: #b81a1a;
    transition: all linear 0.7s;
    border-radius: 10px;
    color: #ffffff;
}

.game-score {
    width: 100%;
    padding: 10px;
    background: #000000;
    position: relative;
    color: #ffffff;
    text-align: center;
}

.score {
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.8em;
    vertical-align: middle;
}

.game-message {
    width: 100%;
    height: 100%;
    margin: 5px 0;
    padding: 16px;
    background: #000000;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.game-message.on {
    visibility: visible;
    opacity: 1;
}

.match {
    width: 20px;
    height: 20px;
    background: #b81a1a;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 10px;
    border: 5px solid #000000;
}

.match.on {

    visibility: visible;
    opacity: 1;
}

.match.v {
    width: 20px;
    height: 100%;
}

.match.h {
    width: 100%;
    height: 20px;
}

.match.row-0 {
    top: 15%;
}

.match.row-1 {
    top: 48%;
}

.match.row-2 {
    top: 80%;
}

.match.col-0 {
    left: 15%;
}

.match.col-1 {
    left: 48%;
}

.match.col-2 {
    left: 80%;
}

.match.diag-0 {
    height: 100%;
    left: 45%;
    transform: rotate(-45deg);
}

.match.diag-1 {
    height: 100%;
    left: 45%;
    transform: rotate(45deg);
}

.try-again {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-content: center;
    visibility: hidden;
    opacity: 0;
}

.try-again.on {
    visibility: visible;
    opacity: 1;
}

.try-again button {
    width: 100%;
    margin: auto;
    padding: 15px;
    border: none;
    background: #ffffff;
    color: #2c2430;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}